# Project place file
/SanitySystem.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Cursor & IDE
.cursor/
.vscode/

# Rojo & Tools
/aftman.toml
/bin/
node_modules/
.DS_Store

# Luau & Linting
.lua-urp/